body{
    background-color: #8a8ae2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;   
}
.user-form{
    width: 100%;
    max-width: 700px;

}
.user-form input{
    width: 100%;
    display: block;
    background-color: #4c2885;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: white;
    box-shadow: 0 5px 10px white;
    
    

}
.user-form input::placeholder{
    color: #fcf9f9;
   

}
.user-form input:focus{
    outline: none;

}
.card{
    max-width: 800px;
    /* border:3px solid #4c2885; */
    border-radius: 20px;
    background-color: #4c2885;
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
    box-shadow: 0 6px 10px;
    
}

.avatar{
    border-radius: 50%;
    border: 10px solid #27ed58;
    height: 150px;
    width: 150px;
    margin-right: 30px;
    box-shadow: 10px 10px 10px rgb(10, 10, 10);
    

}
.user-info h2{
    margin-top: 0;
    

}
.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:0;
    max-width: 400px;
}
.user-info ul li{
    display: flex;
    align-items: center;
    padding:20px;
    
}
.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5;

}
.repo{
    text-decoration: none;
    color: white;
    background-color: #2a2a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;

}